<% unless user.errors.empty? %>
	<ul>
		<% user.errors.full_messages.each do |msg| %>
		<li>msg\</li>
		<% end %>
	</ul>
<% end %>

<form action="<%= users_url %>" method="post" enctype="multipart/form-data">

	<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">

	<label>
		Email
		<input type="email" name="user[email]">
	</label>

	<label>
		Picture
		<input type="file" name="user[picture]">
	</label>

	<input type="submit" value="Create!">
</form>