<a href="<%= users_url %>">Back to index</a>

<img src="<%= @user.picture.url %>">

<h1><%= @user.email %></h1>

<ul>
<% @user.authored_posts.each do |post| %>
  <li><%= link_to post.title, post %></li>
<% end %>
</ul>